
body { 
    background-color: #400923;
    text-align: center;
}

.flower_header{
    background: url("images/flowers1-top.png") no-repeat;
    background-position: center;
    background-size: cover;
}

.wedding_header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}


h1 {
    position: relative;
    text-align: center;
    font-size: 90px;
    font-family: 'Dancing Script', cursive;
    color: aliceblue;
}

h2 {
    position: relative;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: aliceblue; 
}

iframe {
    border: black;
    border-radius: 10%;
}

.RSVP_confirm {
    background-color: rgb(243, 211, 124);

}

.dropdown {
    margin: auto;
    background-color: rgb(214, 198, 176);
    width: 350px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.form_inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
